# ==============================
# Python files
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual environments
# ==============================
venv/
env/
.venv/
.env/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Dataset images
# ==============================
dataset-resized/dataset-resized/

# ==============================
# macOS unnecessary files
# ==============================
__MACOSX/
.DS_Store
**/.DS_Store
**/._*

# ==============================
# Uploaded images
# ==============================
uploads/

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp

# ==============================
# VS Code settings
# ==============================
.vscode/